{% extends 'base.html.twig' %}

{% block title %}Hospital Listings{% endblock %}

{% block body %}

    <div class="container">

        <h1>All Hospitals</h1>

        <table>
            <thead>
            <tr>
                <th scope="col">Hospital Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
                <th scope="col"></th>


            </tr>
            </thead>
            <tbody>
            {% for hospital in hospitals %}
                <tr>
                    <td>{{ hospital.name }}</td>
                    <td>{{ hospital.phoneNumber }}</td>
                    <td>{{ hospital.address }}</td>
                    <td>
                        <a class="btn btn-sm btn-dark" href="{{ path('app_hospital_show', {id: hospital.id}) }}">
                            View {{ hospital.name }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" align="center">No Hospitals found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}