{% extends 'base.html.twig' %}

{% block title %}Admin Hospital Listings{% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ hospital.name }}</h1>

        <p>Address:  {{ hospital.address }}</p>
        <p>Phone Number:  {{ hospital.phoneNumber }}</p>


        <h2>Contact {{ hospital.name }}</h2>

        {{ form_start(contactForm) }}


        {{ form_widget(contactForm) }}

        <button type="submit" class="btn btn-dark">Send</button>

        {{ form_end(contactForm) }}




    </div>

{%  endblock %}